{% extends 'wasekPart/base.html' %}
{% load static %}
{% load custom_filter %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account.css' %}" />

<div class="container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="left__colum">
              <div class="user__profile__details">
                <p class="show__online text-center">online<p>
                <img class="rounded-circle" src="{{ user_details.selleraccount.profile_picture.url }}">
                <p class="fw-bold seller__name">Seller Name: {{ user_details.username }}</p>
                <p id="designation" class="text-muted desig">Web and Application Developer 
                  <button class="profile__degignation__edit" id="edit__icon__js" onclick="myFunction()"><span class="iconify" data-icon="bx:bxs-edit-alt"></span></button></p>
                <!-- <button class="public__mode">
                    Preview Public Mode</button> -->
                </div>
                <div id="changingEffect" class="after__click__edit">
                    <input id="userInput" class="mx-auto d-block w-100" type="text" maxlength="70" placeholder="type here.." autocomplete="off" value="Web and Application Developer">
                   <div class="cancel__update">
                    <button id="cancelButton" onclick="mySecondFunction()">Cancel</button>
                    <button id="updateButton" onclick="newFun()">Update</button>
                   </div>
                </div>

                <hr>

                <div class="user__profile__restdetails">
                <div class="first__user">
                    <p><span class="iconify" data-icon="ps:facebook-places"></span> From</p>
                <p class="fw-bold">{{ user_details.selleraccount.country }}</p>
                </div>
                <div class="first__user">
                    <p><span class="iconify" data-icon="ant-design:user-outlined"></span> Joined</p>
                <p class="fw-bold">{{ user_details.selleraccount.joined_at }}</p>
                </div>
                <div class="first__user">
                  <p><span class="iconify" data-icon="bx:bx-time-five"></span>  Avg. Response Time</p>
                <p class="fw-bold">N/A</p>
                    </div>
                </div>
                <hr>

                <div class="colum__footer__part">
                    <p><span class="iconify" data-icon="uil:calender"></span> Status</p>
                    <p class="badge bg-success">ACTIVE</p>
                </div>
            </div><br>

                </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-8 right__colum">

                <ul class="nav nav-pills new__nav__pill mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link new__nav__link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Active Offers</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link new__nav__link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Drafts</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link new__nav__link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Paused</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      
                      <div class="tab__view__card">

                        <!-- Loop Start Here -->
                        {% for offer in offers %}
                        <a href="{% url 'offer_details' offer.id %}">
                        <div class="mx-1 tab___card__new">
                          <img src="{{ offer.image.url }}" class="card-img-top" alt="...">
                        </a>  
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">{{ offer.offer_title|truncatechars:20 }}</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">BDT. {{ offer.offermanager_set.all|offer_price_start }}<span></p>
                          </div>
                        </div>
                        {% endfor %}

                        <!-- Loop Ends Here -->
                        
                        <!-- <div class="mx-1 tab___card__new">
                          <img src="{% static 'images/goku.png' %}" class="card-img-top" alt="...">
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">I will design develop your website using html, css, js and django</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">$15<span></p>
                          </div>
                        </div>
                        <div class="mx-1 tab___card__new">
                          <img src="{% static 'images/goku.png' %}" class="card-img-top" alt="...">
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">I will design develop your website using html, css, js and django</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">$15<span></p>
                          </div>
                        </div>
                        <div class="mx-1 tab___card__new">
                          <img src="{% static 'images/goku.png' %}" class="card-img-top" alt="...">
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">I will design develop your website using html, css, js and django</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">$15<span></p>
                          </div>
                        </div> -->
                        
                        <div class="mx-1 tab___card__new1">
                            <p><a href="{% url 'manage-offers' %}"><span class="iconify create___icon" data-icon="akar-icons:circle-plus" style="color: #428ad3;"></span></a></p>
                            <p>Create New Offer</p>
                        </div>
                        
                        
                      </div>
  
                     </div>


                     <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                      <div class="tab__view__card">
                        <div class="mx-1 tab___card__new">
                          <img src="{% static 'images/goku.png' %}" class="card-img-top" alt="...">
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">I will design develop your website using html, css, js and django</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">$15<span></p>
                          </div>
                        </div>
                        
                        <div class="mx-1 tab___card__new1">
                            <p><a href="{% url 'manage-offers' %}"><span class="iconify create___icon" data-icon="akar-icons:circle-plus" style="color: #428ad3;"></span></a></p>
                            <p>Create New Offer</p>
                        </div>
                      </div>

                     </div>
                     <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                      <div class="tab__view__card">
                        <div class="mx-1 tab___card__new">
                          <img src="{% static 'images/goku.png' %}" class="card-img-top" alt="...">
                          <div class="tab___card___body">
                            <p class="text-center"><a href="#">I will design develop your website using html, css, js and django</a></p>
                            <p class="text-center offer__tag">STARTING AT <span class="fw-bold fs-6">$15<span></p>
                          </div>
                        </div>
                        
                        <div class="mx-1 tab___card__new1">
                            <p><a href="{% url 'manage-offers' %}"><span class="iconify create___icon" data-icon="akar-icons:circle-plus" style="color: #428ad3;"></span></a></p>
                            <p>Create New Offer</p>
                        </div>
                      </div>

                     </div>

                   </div>
                    </div>
                  </div>
            </div>

            <script src="{% static 'js/account.js' %}">
              </script>




              {% include 'buyingview/buying_footer.html' %}

{% endblock %}