
{% extends 'wasekPart/base.html' %}




{% load static %}
{% load template_helpers %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/buyerrequest.css' %}">
    <script src="{% static 'js/buyerrequest.js' %}" defer></script>
      <!-- buyer request section -->
      <br>
      <div class="container">
        <div class="buyerRequ mb-4">
            <h1>Buyer Requests</h1><br>
            <!-- <div class="order__links">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <button class="ordered__btn active__btn active__link nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">
                        <li class="nav-item" role="presentation">ACTIVE</li>
                    </button>
                    <button class="ordered__btn pending__btn">
                        <li>SENT OFFERS</li>
                    </button>
                    <li class="create__newGig">
                        0 offers  left today
                    </li>
                </ul>
            </div> -->
        </div>
      </div>



      



      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link fw-bold active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">ACTIVE</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link fw-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">SENT OFFERS</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
                    <div class="card priority__order gigs__order buyerequ___with__dropdown py-3 px-2 mt-4">
                        <p class="table__gigsText fw-bold">BUYER REQUESTS</p>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                All Subcategories
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">last 7 days</a></li>
                                <li><a class="dropdown-item" href="#">last 14 days</a></li>
                                <li><a class="dropdown-item" href="#">last 30 days</a></li>
                                <li><a class="dropdown-item" href="#">last 2 months</a></li>
                                <li><a class="dropdown-item" href="#">last 3 months</a></li>
                                <li><a class="dropdown-item" href="#">last 6 months</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive manage__orderTable">
                        <table class="table table-hover bg-white">
                            <thead>
                                <tr>
                                <th scope="col" class="text-muted ps-4">DATE</th>
                                <th scope="col" class="text-muted">BUYER</th>
                                <th scope="col" class="text-muted">POST TITLE</th>
                                <th scope="col" class="text-muted">DURATION</th>
                                <th scope="col" class="text-muted">BUDGET</th>
                                <th scope="col"></th>
                                </tr>                    
                            </thead>
                            <tbody>
                                {% if active_post_requests|length > 0 %}
                                    {% for post in active_post_requests %}
                                    <tr>
                                        <td class="fw-bold text__details">
                                            {{ post.created_at }}
                                        </td>
                                        <td class="fw-bold text__details">
                                            {{ post.user.username }}
                                        </td>
                                        <td class="fw-bold post__description">
                                            <div>
                                                <h5 class="fw-bold">{{ post.postrequest_title }}</h5>
                                            </div>
                                            <div class="my-2">
                                                <small class="text-muted post__descriptionText" id="post{{ post.id }}">
                                                    {{ post.description }}
                                                </small>
                                                <div class="text-primary fw-bold mt-1 post__viewMoreBtn" id="view__more{{ post.id }}" onclick="clickedPost({{post.id}})">View More</div>
                                            </div>
                                            {% if post.attachment %}
                                            <div class="download__postRequests">
                                                <a href="{{ post.attachment.url }}" download="{{ post.attachment.url }}">
                                                    {% for item in post.attachment.url|split:"/"|last %}
                                                        {{item}}
                                                    {% endfor %}
                                                </a>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td class="fw-bold text__details">
                                            {{ post.delivery_time }}
                                        </td>
                                        <td class="fw-bold text__details">
                                            BDT. {{ post.budget }}৳
                                        </td>
                                        <td class="post__last">
                                            <div class="post__requestsBtns">
                                                <a href="{% url 'send-offer' post.id %}">
                                                    <button>Send Offer</button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="fw-bold text-danger">No active posts from buyer to show!</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card priority__order gigs__order py-3 px-2 mt-4">
                    <p class="table__gigsText fw-bold">OFFERS SUBMITTED FOR BUYER REQUESTS</p>
                </div>
                <div class="table-responsive manage__orderTable">
                    <table class="table table-hover bg-white">
                        <thead>
                            <tr>
                                <th scope="col" class="text-muted ps-4">DATE</th>
                                <th scope="col" class="text-muted">BUYER</th>
                                <th scope="col" class="text-muted">POST TITLE</th>
                                <th scope="col" class="text-muted">DURATION</th>
                                <th scope="col" class="text-muted">BUDGET</th>
                            </tr>                  
                        </thead>
                        <tbody>
                            {% if send_offer_requests|length > 0 %}
                                    {% for post in send_offer_requests %}
                                    <tr>
                                        <td class="fw-bold text__details">
                                            {{ post.created_at }}
                                        </td>
                                        <td class="fw-bold text__details">
                                            {{ post.buyer }}
                                        </td>
                                        <td class="fw-bold post__description">
                                            <div>
                                                <h5 class="fw-bold">{{ post.buyer_post_request }}</h5>
                                            </div>
                                            <div class="my-2">
                                                <small class="text-muted post__descriptionText" id="post{{ post.id }}">
                                                    {{ post.offer_letter|safe }}
                                                </small>
                                                <div class="text-primary fw-bold mt-1 post__viewMoreBtn" id="view__more{{ post.id }}" onclick="clickedSendOffer({{post.id}})">View More</div>
                                            </div>
                                        </td>
                                        <td class="fw-bold text__details">
                                            {{ post.delivery_time }}
                                        </td>
                                        <td class="fw-bold text__details">
                                            BDT. {{ post.offered_price }}৳
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="text-danger fw-bold">No sent offers to show!</td>
                                    </tr>
                                {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
      </div>
    </div>
      {% include 'buyingview/buying_footer.html' %}
      {% endblock %}


