* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
  }

  .manage__orderTable{
    overflow: visible;
  }

  .table__status__dropdown{
    border: 1px solid #777 !important;
    outline: none !important;
  }

  .seller__chatIcon {
    cursor: pointer;
  }

  .seller__chatIcon > .iconify {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 0.3rem;
    border-color: rgb(105, 103, 103) !important;
   
  }
  .contact__icon__link{
    border: 1px solid #777;
    padding: 8px;
    border-radius:4px;
  }
  @media (max-width: 767px){
    .manage__orderTable{
      overflow-x: auto;
    }
  }